form {
    color: #C5C6C7;
    font-size: 24px;
    font: georgia; 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    color: #66FCF1;
    font-size: 32px;
    font: georgia; 
}

h3 {
    color: #66FCF1;
    font-size: 24px;
    font: georgia; 
}

h4 {
    color: #66FCF1;
    font-size: 21px;
    font: georgia; 
}

nav a {
    color: whitesmoke;
    font-size: 1em;
    margin-left: 75px;
    text-decoration: none;
    font: georgia;
}
body {
       background-color: #0B0C10;
}
p {
    color: #C5C6C7;
    font-size: 14px;
    font: georgia; 
}

p a {
    color: whitesmoke;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    max-width: 100%;
    float: left;
    padding-right: 15px;
  }

  .text {
    font-size: 20px;
    text-align: center;
  }

  .home_report {
    text-align: center;
    padding-top: 15px;
  }

  .stock_photo1 {
    float: left;
    padding-right: 75px;
  }

  .stock_photo2 {
    float: right;
    padding-left: 75px;
  }

  .wait {
    text-align: center;
  }

  .about_us {
    text-align: center;
    font-size: 16px;
    line-height: 2
  }