form {
    color: #C5C6C7;
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

table {
    border-spacing: 30px;
    width: 90%;
    border-collapse: collapse;
}

table, tr, td {
  border: 1px solid #66FCF1;
  padding: 8px;
}

tbody {
  color: #C5C6C7;
  font-size: 14px; 
  text-align: left;
  line-height: 2;
}

.table-wrapper {
  max-height: 600px; /* Adjust this value to your preferred fixed size */
  overflow-y: scroll; /* Enable vertical scrollbar */
  display: flex;
  justify-content: center;
}

h1 {
    color: #66FCF1;
    font-size: 32px; 
}

h3 {
    color: #66FCF1;
    font-size: 24px;
}

h4 {
    color: #66FCF1;
    font-size: 21px;
}

header {
  background-color: #66FCF1;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 10px;
  height: 2em;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

nav {
  overflow-y: scroll;
  white-space: nowrap;
}

nav a {
    color: #444;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 20px;
    vertical-align: middle;
    line-height: 2em;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #444;
  position: absolute;
  top: 0;
  transition: all ease-in-out 100ms;
}

nav a:hover::before {
  width: 100%;
}

nav a:hover {
  border-top: 3px solid black;
  padding-top: 20px;
}

body {
       background-color: #0B0C10;
       font-family: "Didot", serif;
}
p {
    color: #C5C6C7;
    font-size: 14px;
}

p a {
    color: whitesmoke;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    max-width: 100%;
    float: left;
    padding-right: 15px;
  }

  .text {
    font-size: 20px;
    text-align: center;
  }

  .home_report {
    text-align: center;
    padding-top: 15px;
  }

  .stock_photo1 {
    float: left;
    padding-right: 75px;
  }

  .stock_photo2 {
    float: right;
    padding-left: 75px;
  }

  @media screen and (max-width: 600px) {
    form {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .stock-photo1 {
      float: left;
      padding-right: 125px;
    }
    .stock_photo2 {
      float: right;
      padding-left: 125px;
    }
  }

  .wait {
    text-align: center;
  }

  .about_us {
    text-align: center;
    font-size: 16px;
    line-height: 2
  }

  .search_form {
    width: 600px;
    height: 55px;
    display: flex;
  }

  .search_input {
    flex: 1;
    border: none;
    outline: none;
  }

  .search_button {
    background: #66FCF1;
    padding: 10px 50 px;
    border: none;
    outline: none;
    color: #0B0C10;
    font-family: "Didot", serif;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .buttons {
      background-color: #66FCF1;
      color: black;
      padding: 14px 28px;
      cursor: pointer;
      text-align: center;
      border-radius: 15%;
      letter-spacing: 1px;
      font-family: "Didot", serif;
      border: none;
      outline: none;
  }