{% extends 'base.html' %}

{% block title %} 
    About
{% endblock %}

{% block content %}
    <h1>
        <center>
            What is Knight Investor?
        </center>
    </h1>
    <div class = "about_us">
        <p>
            Knight Investor is brought to you by undegraduate students
            with a vested interest in the financial industry. We believe
            all investors must start somewhere and that starting small is better
            than not starting at all! At its core, our website is a stepping stone for novice investors
            and a valuable tool for those interested in learning about the current state of the stock
            market and potentially finding undervalued comapanies. Our product provides
            statistical data on multiple stock exchanges and industries and runs 
            numerous internal algorithms to generate our extensive reports. We hope you enjoy the product.
            Click below to start now!
        </p>
        <br>

        <a href="{{ url_for("report_page")}}">
            <button class = "buttons">
                REPORTS
            </button>
        </a>

        <a href="{{ url_for("search_page")}}" style = "padding-left: 30px;">
            <button class = "buttons">
                SEARCH
            </button>
        </a>

    </div>

    <br>
    <h1>
        <center>
            Who Are We?
        </center>
    </h1>
    <div class = "container">
        <p>
            Knight Investor was created by 
            <strong>
                <a href = "https://www.linkedin.com/in/alex-shane-b34337249/" target = "_blank" rel = "noreferrer noopener">
                    Alex Shane
                </a>
            </strong> 
             (Johns Hopkins) and
            <strong>
                <a href = "https://www.linkedin.com/in/harrison-altschul-992863262/" target = "_blank" rel = "noreferrer noopener">
                    Harrison Altschul
                </a>
            </strong> 
             (Boston College)
        </p>
    </div>
    


{% endblock %}