<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - Knight Investor</title>
    <link rel="stylesheet" href="../static/report.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/Images/logo4.ico">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for("home")}}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{{ url_for("report_page")}}">
                        Reports
                    </a>
                </li>
                <li>
                    <a href = "{{ url_for("search_page")}}"">
                        Search
                    </a>
                </li>
                <li>
                    <a href="{{ url_for("about")}}">
                        About
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>