<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Knight Investor</title>
    <link rel="stylesheet" href="../static/report.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/Images/logo4.ico">
</head>
<body>
    <nav>
        <a href="{{ url_for("home")}}">
            Home
        </a>

        <a href="{{ url_for("report_page")}}">
            Create Report
        </a>

        <a href = "{{ url_for("search_page")}}"">
            Stock Search
        </a>

        <a href="{{ url_for("about")}}">
            About
        </a>

    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>