{% extends 'base.html' %}

{% block title %} 
    Home
{% endblock %}

{% block content %}
    <h1>
        <center>
            Welcome to Knight Investor! 
        </center>
    </h1>
    <div style="width:600px; margin:0 auto;">
        <img src="../static/Images/logo1.jpeg" alt="Knight Investor Icon" width="400" 
        height="500">
    </div>
    <div>
        <h4>
            Begin Your Stock Market Journey Now!
        </h4>
        <p>
            Are you new to investing? Do you feel lost when it comes to picking stocks?
            If so, you are in the right place. Knight Investor is a student made service made for people
            just like you, begineers to the stock market. Even more experienced traders can benefit from our report
            generator. Try it out for yourself!
        </p>
        <button>
            Go to Reports!
        </button>
    </div>
{% endblock %}