{% extends 'base.html' %}

{% block title %} 
    Home
{% endblock %}

{% block content %}
    <h1>
        <center>
            Welcome to Knight Investor! 
        </center>
    </h1>
    <div class="container">
        <div>
          <img src="../static/Images/logo1.jpeg" alt = "Knight Investor Icon" width = "400" height = "500">
        </div>
        <div class="text">
            <h4>
                Begin Your Stock Market Journey Now!
            </h4>
            <p>
                Are you new to investing? Do you feel lost when it comes to picking stocks?<br><br>
                If so, you are in the right place. Knight Investor is a student made service made for people <br><br>
                just like you, begineers to the stock market. Even more experienced traders can benefit from 
                our report generator. <br><br>
                Try it out for yourself! <br><br>
            </p>
            <form action="{{ url_for("report_page")}}" class = "home_report">
                <input type="submit" value="Go To Reports!">
            </form>
            <h4>
                Curious About Individual Stocks?
            </h4>
            <p>
                Explore the whole host of stocks on Yahoo Finance with our
                <br><br>
                Stock Searcher below.
            </p>
            <form action="{{ url_for("search_page")}}" class = "home_report">
                <input type="submit" value="Search Now!">
            </form>
        </div>
      </div>
{% endblock %}