<html lang="en">
    <head>
        <title>Knight Investor</title>
        <style>
            body {
               background-color: rgb(211,211, 211);
            }
         </style>
    </head>
    <body>
        <nav>
            <a href= {{ url_for("home")}} >
                Home
            </a>

            <a href= {{ url_for("monthly_report")}} >
                Monthly Report
            </a>
        </nav>

        <h1 style="text-align:center">
            <center>Home Page</center>
        </h1>
    </body>
</html>