{% extends 'base.html' %}

{% block title %} 
    Final Report
{% endblock %}

{% block content %}
<h1>
    <center>
        {{context['exchange']}} Weekly Report on {{industry}}
    </center>
</h1>
<p>*Please note, all stock information taken from Yahoo Finance</p>
<p>For reference, the <strong>{{context['exchange']}} {{context['change']}}</strong><strong>&nbsp;</strong>by <strong>{{context['percent']}}%</strong> in the past week&nbsp;</p>
<h3><strong>Winners:</strong></h3>
{%for stock in winners%}
    {% set index = loop.index | string() %}
    {%set name = "s" + index%}
    {%set inc = "inc" + index%}
    {%set ticker = "s" + index + "ticker"%}
    {%set price = "price" + index%}
    {%set mcap = "mcap" + index%}
    {%set industry = "i" + index%}
    {%set ans = "a" + index%}
    {%set des = "des" + index%}
    {%set rec = "rec" + index%}
    {%set link = "link" + index%}
    <p> {{index}}) <strong>{{context[name]}}</strong> increased by <strong>{{context[inc]}}%</strong> over the past week</p>
    <p>&nbsp; &nbsp; Quick facts about <strong>{{context[ticker]}}</strong>:</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;Current Stock Price = ${{context[price]}}</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;Market Cap = ${{context[mcap]}}</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;Industry = {{context[industry]}}</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;Provides Dividend? {{context[ans]}}, {{context[des]}}</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;Yahoo Analyst Recommendation: {{context[rec]}}</p>
    <p>For further reading on <strong>{{context[ticker]}}</strong>, please see below:</p>
    <p><a href="{{context[link]}}" target="_blank"><span>{{context[link]}}</span></a></p>
    <p>&nbsp;</p>
{%endfor%}
{% if losers != None %}
    <h3><strong>Losers:</strong></h3>
    {% for stock in losers %}
        {% set index = loop.index | string() %}
        {% set adj_index = (loop.index + 3) | string() %}
        {%set name = "s" + adj_index%}
        {%set inc = "inc" + adj_index%}
        {%set ticker = "s" + adj_index + "ticker"%}
        {%set price = "price" + adj_index%}
        {%set mcap = "mcap" + adj_index%}
        {%set industry = "i" + adj_index%}
        {%set ans = "a" + adj_index%}
        {%set des = "des" + adj_index%}
        {%set rec = "rec" + adj_index%}
        {%set link = "link" + adj_index%}
        <p> {{index}}) <strong>{{context[name]}}</strong> decreased by <strong>{{context[inc]}}%</strong> over the past week</p>
        <p>&nbsp; &nbsp; Quick facts about <strong>{{context[ticker]}}</strong>:</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp;Current Stock Price = ${{context[price]}}</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp;Market Cap = ${{context[mcap]}}</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp;Industry = {{context[industry]}}</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp;Provides Dividend? {{context[ans]}}, {{context[des]}}</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp;Yahoo Analyst Recommendation: {{context[rec]}}</p>
        <p>For further reading on <strong>{{context[ticker]}}</strong>, please see below:</p>
        <p><a href="{{context[link]}}" target="_blank"><span>{{context[link]}}</span></a></p>
        <p>&nbsp;</p>
    {% endfor %}
{% endif %}


<form action="{{ url_for("download")}}" method="POST">
    <input type="submit" value="Download Report">
</form>
    
{% endblock %}