{% extends 'base.html' %}

{% block title %} 
    Final Report
{% endblock %}

{% block content %}
<h1>
    <center>
        {{context['exchange']}} Monthly Report on {{industry}}
    </center>
</h1>
<p>*Please see end of the report if interested in what statistics were evaluated when ranking the stocks. All data taken from Yahoo Finance</p>
<p>For reference, the <strong>{{context['exchange']}}&nbsp;{{context['change']}} </strong>by <strong>{{context['percent']}}%</strong> over the past month</p>
{%for stock in stocks%}
    {% set index = loop.index | string() %}
    {%set name = "s" + index%}
    {%set d = "d" + index%}
    {%set ticker = "s" + index + "ticker"%}
    {%set price = "price" + index%}
    {%set mcap = "mcap" + index%}
    {%set industry = "i" + index%}
    {%set ans = "a" + index%}
    {%set des = "des" + index%}
    {%set rec = "rec" + index%}
    {%set link = "link" + index%}
    {% if loop.first %}
        <h4><strong>Best Stock:&nbsp;</strong>{{context[name]}} with a {{context[d]}}% increase from last month</h4>
    {% elif index == "2" %}
        <h4><strong>2nd Best Stock: </strong>{{context[name]}} with a {{context[d]}}% increase from last month</h4>
    {% else %}
        <h4><strong>3rd Best Stock: </strong>{{context[name]}} with a {{context[d]}}% increase from last month</h4>
    {% endif %}
    <p>Quick facts about <strong>{{context[ticker]}}:</strong></p>
    <p>Current Stock Price = ${{context[price]}}</p>
    <p>Market Cap = ${{context[mcap]}}</p>
    <p>Industry = {{context[industry]}}</p>
    <p>Provides Dividend? {{context[ans]}}, {{context[des]}}</p>
    <p>Yahoo Analyst Recommendation: {{context[rec]}}</p>
    <p>&nbsp;</p>
    <p>For further reading on <strong>{{ticker}}</strong>, please see below:</p>
    <p><a href="{{context[link]}}" target="_blank"><span>{{context[link]}}</span></a></p>
    <p>&nbsp;</p>
{%endfor%}

<p><span>Statistics considered in the ranking model (by order of importance):</span></p>
<p><span>1) %increase in stock price over the previous month</span></p>
<p><span>2) Previous 12 months' P/E ratio</span></p>
<p><span>3) Previous 12 months' EV/EBITDA ratio</span></p>
<p><span>4) Previous 12 months' EPS</span></p>
<p><span>5) Previous 12 months' EV/Revenue</span></p>
<p><span>6) Projected P/E ratio</span></p>
<p><span>7) Projected EPS</span></p>

<form action="{{ url_for("download")}}" method="POST">
    <input type="submit" value="Download Report">
</form>

{% endblock %}