{% extends 'base.html' %}

{% block title %} 
    Final Report
{% endblock %}

{% block content %}
<h1>
    <center>
        {{context['exchange']}} Monthly Report on {{industry}}
    </center>
</h1>
<p>*Please see end of the report if interested in what statistics were evaluated when ranking the stocks. All data taken from Yahoo Finance</p>
<p>For reference, the <strong>{{context['exchange']}}&nbsp;{{context['change']}} </strong>by <strong>{{context['percent']}}%</strong> over the past month</p>
{%for stock in stocks%}
    {% set index = loop.index | string() %}
    {%set name = "s" + index%}
    {%set d = "d" + index%}
    {%set ticker = "s" + index + "ticker"%}
    {%set price = "price" + index%}
    {%set mcap = "mcap" + index%}
    {%set industry = "i" + index%}
    {%set ans = "a" + index%}
    {%set des = "des" + index%}
    {%set rec = "rec" + index%}
    {%set link = "link" + index%}
    {% if loop.first %}
        <h4><strong>Best Stock:&nbsp;</strong>{{context[name]}} with a {{context[d]}}% increase from last month</h4>
    {% elif index == "2" %}
        <h4><strong>2nd Best Stock: </strong>{{context[name]}} with a {{context[d]}}% increase from last month</h4>
    {% else %}
        <h4><strong>3rd Best Stock: </strong>{{context[name]}} with a {{context[d]}}% increase from last month</h4>
    {% endif %}
    <p>Quick facts about <strong>{{context[ticker]}}:</strong></p>
    <p>Current Stock Price = ${{context[price]}}</p>
    <p>Market Cap = ${{context[mcap]}}</p>
    <p>Industry = {{context[industry]}}</p>
    <p>Provides Dividend? {{context[ans]}}, {{context[des]}}</p>
    <p>Yahoo Analyst Recommendation: {{context[rec]}}</p>
    <p>&nbsp;</p>
    <p>For further reading on <strong>{{context[ticker]}}</strong>, please see below:</p>
    <p><a href="{{context[link]}}" target="_blank"><span>{{context[link]}}</span></a></p>
    <p>&nbsp;</p>
{%endfor%}

<p>Statistics considered in the ranking model (by order of importance):</p>
<p>1) %increase in stock price over the previous month</p>
<p>
    2)<a href="https://www.investopedia.com/terms/t/trailingpe.asp#:~:text=The%20trailing%20price%2Dto%2Dearnings,time%20periods%20and%20among%20companies." target = "_blank"> Trailing P/E ratio</a>
</p>
<p>
    3)<a href = "https://www.investopedia.com/ask/answers/072715/what-considered-healthy-evebitda.asp" target = "_blank"> Trailing EV/EBITDA ratio</a> 
</p>
<p>
    4)<a href = "https://www.investopedia.com/terms/t/trailingeps.asp#:~:text=Trailing%20earnings%20per%20share%20(EPS)%20is%20a%20company's%20earnings%20generated,period%20or%20four%20earnings%20releases." target = "_blank"> Trailing EPS</a>
</p>
<p>
    5)<a href = "https://www.investopedia.com/terms/e/ev-revenue-multiple.asp" target = "_blank"> Trailing EV/Revenue </a>
</p>
<p>
    6) <a href = "https://www.investopedia.com/terms/f/forwardpe.asp" target = "_blank"> Projected P/E ratio</a>
</p>
<p>
    7) <a href = "https://www.investopedia.com/terms/f/fowardlookingearnings.asp" target = "_blank"> Projected EPS</a>
</p>

<form action="{{ url_for("download")}}" method="POST">
    <input type="submit" value="Download Report">
</form>

{% endblock %}