{% extends 'base.html' %}

{% block title %} 
    Report Generator
{% endblock %}

{% block content %}
    <h1>
        <center>
            Welcome to Our Four Step Report!
        </center>
    </h1>
    <div class = container>
      <div>
        <img src="../static/Images/stocks2.jpeg" class = "stock_photo1" alt = "Stock screen" width = "250" height = "500">
      </div>
      <div>
        <p class = "wait"> 
          Step 1: Select report type (daily, weekly, or monthly report)
          <br><br>
          Step 2: Chose stock exchange
          <br><br>
          Step 3 (optional): Filter report by industry 
          <br><br>
          Step 4: Generate report and be patient while report is created
        </p>
        <form action="{{ url_for("report")}}" method="POST" name="report_options" id="report_options">
          <script src="../static/report.js"></script> 
            Period: <select name="period" id="period">
              <option value="" selected> Please select a period </option>
              <option value="month"> Month </option>
              <option value="week"> Week </option>
              <option value="day"> Prev 24 Hours </option>
            </select>
            <br><br>
            Stock Exchange: <select onchange = "setIndustryOptions()" name="exchange" id="exchange">
              <option value="" selected> Please select an exchange </option>
              <option value="NYSE"> New York Stock Exchange</option>
              <option value="NASDAQ"> NASDAQ Composite (US) </option>
              <option value="NASDAQ100"> NASDAQ 100 </option>
              <option value="SP500"> S&P 500 </option>
              <option value="DOW"> Dow Jones Industrial Average </option>
            </select>
            <br><br>
            Industry (optional): <select name="industry" id="industry">
              <option value="None" selected="selected"> None </option>
            </select>
            <br><br>
            <input type="submit" value="Generate Report">
          </form>
          <p class = "wait">
            Estimated Wait Times: 
            <br><br>
            Daily/Weekly Report: 10 seconds to a minute or two 
            <br><br>
            Monthly Report: 30 seconds to a couple of minutes 
            <br><br>
            Please be patient and we hope you enjoy!
        </p>
      </div>
      <div>
        <img src="../static/Images/stocks2.jpeg" class = "stock_photo2" alt = "Stock screen" width = "250" height = "500">
      </div>
    </div>
    
    
{% endblock %}